.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    overflow-y: scroll;
  }
}
